{{template "header.sh.tmpl" .}}

# This is the drop in device k3s agent(worker) bootstrap script for the Teknoir platform.
# It should work for most arm32/arm64/amd64 devices running Debian or Ubuntu.

# Environment variables:
#   K3S_URL=https://<IP or mDNS name>:6443 (default: generated at master node creation time)
#   K3S_TOKEN="32 char string" (default: generated at master node creation time)
#   CREATE_USER=false (default: ask, create a user for the device without asking)

{{template "variables.sh.tmpl" .}}

{{template "keys.sh.tmpl" .}}

$SUDO cp ${CONFIG_PATH}/rsa_public.pem /usr/local/share/ca-certificates/${_DEVICE_ID}-${_DOMAIN}.crt
$SUDO update-ca-certificates

info "Install Rancher K3s Agent"
download k3s_installer.sh https://get.k3s.io
$SUDO chmod +x k3s_installer.sh

if [ "${OS_BUILD}" ] || [ "${INSECURE}" ]; then
    info "Running installation without verifying ssl certs on URLs"
    $SUDO sed -i "s#curl -w#curl --insecure -w#g" k3s_installer.sh
    $SUDO sed -i "s#curl -o#curl --insecure -o#g" k3s_installer.sh
fi

if [ "${OS_BUILD}" ]; then
    info "OS Build specifics"
    export INSTALL_K3S_SKIP_START=true
    $SUDO sed -i "s#-d /run/systemd#true#g" k3s_installer.sh
fi

if [ -z "${K3S_URL}" ]; then
    DEFAULT_K3S_URL="https://${_DEVICE_ID}.local:6443"
    read -p "Is ${DEFAULT_K3S_URL} the correct URL to the server/master node? [Y/n] " confirm
    confirm=${confirm:-"Y"}
    if echo "${confirm}" | grep -iq "^y$"; then
        export K3S_URL=${DEFAULT_K3S_URL}
    else
        read -p "Please enter the K3S_URL: " K3S_URL
        export K3S_URL=${K3S_URL}
    fi
fi
export K3S_URL=${K3S_URL}
export K3S_TOKEN="${K3S_TOKEN:-"${_K3S_TOKEN}"}"

export INSTALL_K3S_EXEC="agent"
if [ "${USE_DOCKER}" = true ]; then
    info "Use docker container-runtime for K3s"
    export INSTALL_K3S_EXEC="${INSTALL_K3S_EXEC} --docker"
fi

export INSTALL_K3S_SYMLINK=force
$SUDO ./k3s_installer.sh

info "K3s agent node joined successfully!"

warn "To enable tunneling, the user ${_FIRST_USER_NAME} has to be created."

{{template "user_setup.sh.tmpl" .}}

{{template "user_invocation.sh.tmpl" .}}

{{template "footer.sh.tmpl" .}}

