#!/bin/sh
set -e
set -o noglob
#set -x
umask 027

# This is the drop in device bootstrap script for the Teknoir platform.
# It should work for most arm32/arm64/amd64 devices running Debian or Ubuntu.

# Usage:
#   TBD
#
# Environment variables:
#   OS_BUILD=true (default: false, for OS builds)
#   INSECURE=true (default: false, for OS builds, or if you want to run without ssl cert verification)
#   INSTALL_WATCHDOG=true (default: false, enable or disable the teknoir watchdog service)
#   USE_DOCKER=true (default: false, enable the use of docker as container runtime for k3sm inly works for k3s < 1.24)
#   CREATE_USER=false (default: ask, create a user for the device without asking)


# --- helper functions for logs ---
info()
{
    echo '[INFO] ' "$@"
}
warn()
{
    echo '[WARN] ' "$@" >&2
}
fatal()
{
    echo '[ERROR] ' "$@" >&2
    exit 1
}

# Exit if not running as root
[ $(id -u) -eq 0 ] || fatal 'You must run this script as root'

DOWNLOADER=
# --- download ---
download() {
    [ $# -eq 2 ] || fatal 'download needs exactly 2 arguments'

    case $DOWNLOADER in
        curl)
            if [ ${OS_BUILD} ] || [ ${INSECURE} ]; then
                info "Running installation without verifying ssl certs on URLs"
                $SUDO curl --insecure -o $1 -sSfL $2
            else
                $SUDO curl -o $1 -sSfL $2
            fi
            ;;
        wget)
            $SUDO wget -qO $1 $2
            ;;
        *)
            fatal "Incorrect executable '$DOWNLOADER'"
            ;;
    esac

    # Abort if download command failed
    [ $? -eq 0 ] || fatal 'Download failed'
}

# --- verify existence of network downloader executable ---
verify_downloader() {
    # Return failure if it doesn't exist or is no executable
    [ -x "$(command -v $1)" ] || return 1

    # Set verified executable as our downloader program and return success
    DOWNLOADER=$1
    return 0
}

verify_downloader curl || verify_downloader wget || fatal 'Can not find curl or wget for downloading files'


TMP=$(mktemp -dt)
# --- cleanup/error trap ---
error() {
  local code="$1"
  echo "[ERROR] Error: exiting with status ${code}"
  exit "${code}"
}
cleanup() {
  rm -rf "$TMP"
  [ $? -eq 0 ] && exit
  error "$?"
}
trap 'cleanup' EXIT

cd $TMP
info "Teknoir bootstrapping...${TMP}"

_DOMAIN="{{.Domain}}"
_DEVICE_ID="{{.DeviceID}}"
_NAMESPACE="{{.Namespace}}"
_FIRST_USER_NAME="{{.Username}}"
_FIRST_USER_PASS="{{.Password}}"
_FIRST_USER_KEY="{{.PublicSSHKey}}"
_RSA_PUBLIC="{{.RSAPublic}}"
_RSA_PRIVATE="{{.RSAPrivate}}"
_K3S_TOKEN="{{.K3SToken}}"

info "Install device specific keys"
export CONFIG_PATH=/etc/teknoir
$SUDO mkdir -p ${CONFIG_PATH}
$SUDO mkdir -p /toe_conf && $SUDO rm -rf /toe_conf && $SUDO ln -s ${CONFIG_PATH}/ /toe_conf # For backward compatibility
download ${CONFIG_PATH}/roots.pem https://pki.goog/roots.pem
$SUDO chmod 440 ${CONFIG_PATH}/roots.pem
$SUDO chown 65532:root ${CONFIG_PATH}/roots.pem
$SUDO tee ${CONFIG_PATH}/rsa_private.pem > /dev/null << EOL
${_RSA_PRIVATE}
EOL
$SUDO chmod 440 ${CONFIG_PATH}/rsa_private.pem
$SUDO chown 65532:root ${CONFIG_PATH}/rsa_private.pem
$SUDO tee ${CONFIG_PATH}/rsa_public.pem > /dev/null << EOL
${_RSA_PUBLIC}
EOL
$SUDO chmod 444 ${CONFIG_PATH}/rsa_public.pem
$SUDO chown 65532:root ${CONFIG_PATH}/rsa_public.pem
$SUDO chgrp 65532 /etc/teknoir
info "Install Rancher K3s"
mkdir -p /opt/k3s
export K3S_CONFIG_PATH=/etc/rancher/k3s
$SUDO mkdir -p ${K3S_CONFIG_PATH}
$SUDO tee ${K3S_CONFIG_PATH}/config.yaml > /dev/null << EOL
disable:
  - traefik
node-name: ${_DEVICE_ID}
EOL

info "Install Teknoir Manifests"
$SUDO mkdir -p /var/lib/rancher/k3s/server/manifests
$SUDO tee /var/lib/rancher/k3s/server/manifests/teknoir.yaml > /dev/null << EOL

---
apiVersion: node.k8s.io/v1
kind: RuntimeClass
metadata:
  name: nvidia
handler: nvidia

---
apiVersion: v1
kind: Secret
metadata:
  name: artifact-registry-secret
  namespace: kube-system
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{.DockerSecret}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: artifact-registry-secret
  namespace: default
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{.DockerSecret}}"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: default
imagePullSecrets:
- name: artifact-registry-secret

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: kube-system
imagePullSecrets:
- name: artifact-registry-secret

---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: high-priority-mqtt
  namespace: kube-system
value: 900000000
globalDefault: false
description: "This priority class should be used for mqtt service pods only."

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt
  template:
    metadata:
      labels:
        app: mqtt
    spec:
      priorityClassName: high-priority-mqtt
      containers:
        - name: mqtt
          image: emqx/emqx-edge:latest
          imagePullPolicy: Always
          env:
           - name: EMQX_MQTT__MAX_PACKET_SIZE
             value: 3MB
          ports:
            - containerPort: 1883
            - containerPort: 18083
          resources:
            requests:
              memory: "128Mi"
              cpu: "150m"
            limits:
              memory: "512Mi"
              cpu: "1000m"

---
apiVersion: v1
kind: Service
metadata:
  name: mqtt
  namespace: kube-system
spec:
  type: NodePort
  ports:
    - nodePort: 31883
      port: 1883
      protocol: TCP
      targetPort: 1883
  selector:
    app: mqtt

---
apiVersion: v1
kind: Service
metadata:
  name: mqtt-dashboard
  namespace: kube-system
spec:
  type: NodePort
  selector:
    app: mqtt
  ports:
    - nodePort: 31083
      port: 18083
      protocol: TCP
      targetPort: 18083

---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: high-priority-toe
  namespace: kube-system
value: 1000000000
globalDefault: false
description: "This priority class should be used for toe service pods only."

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: toes.teknoir.org
spec:
  group: teknoir.org
  names:
    kind: TOE
    listKind: TOEList
    plural: toes
    singular: toe
  scope: Cluster
  versions:
    - name: v1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              properties:
                config:
                  properties:
                    apiVersion:
                      type: string
                    items:
                      items:
                        properties:
                          apiVersion:
                            type: string
                          binaryData:
                            additionalProperties:
                              format: byte
                              type: string
                            type: object
                          data:
                            additionalProperties:
                              type: string
                            type: object
                          kind:
                            type: string
                          metadata:
                            properties:
                              annotations:
                                additionalProperties:
                                  type: string
                                type: object
                              creationTimestamp:
                                format: date-time
                                type: string
                              deletionGracePeriodSeconds:
                                format: int64
                                type: integer
                              deletionTimestamp:
                                format: date-time
                                type: string
                              finalizers:
                                items:
                                  type: string
                                type: array
                              generateName:
                                type: string
                              generation:
                                format: int64
                                type: integer
                              labels:
                                additionalProperties:
                                  type: string
                                type: object
                              managedFields:
                                items:
                                  properties:
                                    apiVersion:
                                      type: string
                                    fieldsType:
                                      type: string
                                    fieldsV1:
                                      type: object
                                    manager:
                                      type: string
                                    operation:
                                      type: string
                                    subresource:
                                      type: string
                                    time:
                                      format: date-time
                                      type: string
                                  type: object
                                type: array
                              name:
                                type: string
                              namespace:
                                type: string
                              ownerReferences:
                                items:
                                  properties:
                                    apiVersion:
                                      type: string
                                    blockOwnerDeletion:
                                      type: boolean
                                    controller:
                                      type: boolean
                                    kind:
                                      type: string
                                    name:
                                      type: string
                                    uid:
                                      type: string
                                  required:
                                    - apiVersion
                                    - kind
                                    - name
                                    - uid
                                  type: object
                                  x-kubernetes-map-type: atomic
                                type: array
                              resourceVersion:
                                type: string
                              selfLink:
                                type: string
                              uid:
                                type: string
                            type: object
                          spec:
                            x-kubernetes-preserve-unknown-fields: true
                          status:
                            x-kubernetes-preserve-unknown-fields: true
                        required:
                          - metadata
                        type: object
                      type: array
                    kind:
                      type: string
                    metadata:
                      properties:
                        continue:
                          type: string
                        remainingItemCount:
                          format: int64
                          type: integer
                        resourceVersion:
                          type: string
                        selfLink:
                          type: string
                      type: object
                  required:
                    - items
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              type: object
            status:
              properties:
                last_applied_config:
                  properties:
                    apiVersion:
                      type: string
                    items:
                      items:
                        properties:
                          apiVersion:
                            type: string
                          binaryData:
                            additionalProperties:
                              format: byte
                              type: string
                            type: object
                          data:
                            additionalProperties:
                              type: string
                            type: object
                          kind:
                            type: string
                          metadata:
                            properties:
                              annotations:
                                additionalProperties:
                                  type: string
                                type: object
                              creationTimestamp:
                                format: date-time
                                type: string
                              deletionGracePeriodSeconds:
                                format: int64
                                type: integer
                              deletionTimestamp:
                                format: date-time
                                type: string
                              finalizers:
                                items:
                                  type: string
                                type: array
                              generateName:
                                type: string
                              generation:
                                format: int64
                                type: integer
                              labels:
                                additionalProperties:
                                  type: string
                                type: object
                              managedFields:
                                items:
                                  properties:
                                    apiVersion:
                                      type: string
                                    fieldsType:
                                      type: string
                                    fieldsV1:
                                      type: object
                                    manager:
                                      type: string
                                    operation:
                                      type: string
                                    subresource:
                                      type: string
                                    time:
                                      format: date-time
                                      type: string
                                  type: object
                                type: array
                              name:
                                type: string
                              namespace:
                                type: string
                              ownerReferences:
                                items:
                                  properties:
                                    apiVersion:
                                      type: string
                                    blockOwnerDeletion:
                                      type: boolean
                                    controller:
                                      type: boolean
                                    kind:
                                      type: string
                                    name:
                                      type: string
                                    uid:
                                      type: string
                                  required:
                                    - apiVersion
                                    - kind
                                    - name
                                    - uid
                                  type: object
                                  x-kubernetes-map-type: atomic
                                type: array
                              resourceVersion:
                                type: string
                              selfLink:
                                type: string
                              uid:
                                type: string
                            type: object
                          spec:
                            x-kubernetes-preserve-unknown-fields: true
                          status:
                            x-kubernetes-preserve-unknown-fields: true
                        required:
                          - metadata
                        type: object
                      type: array
                    kind:
                      type: string
                    metadata:
                      properties:
                        continue:
                          type: string
                        remainingItemCount:
                          format: int64
                          type: integer
                        resourceVersion:
                          type: string
                        selfLink:
                          type: string
                      type: object
                  required:
                    - items
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: controller-manager-sa
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: serviceaccount
    app.kubernetes.io/part-of: teknoir
  name: teknoir-controller-manager
  namespace: kube-system
#imagePullSecrets:
#- name: artifact-registry-secret

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: leader-election-role
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: role
    app.kubernetes.io/part-of: teknoir
  name: teknoir-leader-election-role
  namespace: kube-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: teknoir-manager-role
rules:
- apiGroups:
  - teknoir.org
  resources:
  - toes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teknoir.org
  resources:
  - toes/finalizers
  verbs:
  - update
- apiGroups:
  - teknoir.org
  resources:
  - toes/status
  verbs:
  - get
  - patch
  - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: metrics-reader
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/part-of: teknoir
  name: teknoir-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: proxy-role
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/part-of: teknoir
  name: teknoir-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: manager-rolebinding
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterrolebinding
    app.kubernetes.io/part-of: teknoir
  name: teknoir-admin-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: teknoir-controller-manager
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: leader-election-rolebinding
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: rolebinding
    app.kubernetes.io/part-of: teknoir
  name: teknoir-leader-election-rolebinding
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: teknoir-leader-election-role
subjects:
- kind: ServiceAccount
  name: teknoir-controller-manager
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: manager-rolebinding
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterrolebinding
    app.kubernetes.io/part-of: teknoir
  name: teknoir-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: teknoir-manager-role
subjects:
- kind: ServiceAccount
  name: teknoir-controller-manager
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: proxy-rolebinding
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterrolebinding
    app.kubernetes.io/part-of: teknoir
  name: teknoir-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: teknoir-proxy-role
subjects:
- kind: ServiceAccount
  name: teknoir-controller-manager
  namespace: kube-system

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: controller-manager-metrics-service
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: service
    app.kubernetes.io/part-of: teknoir
    control-plane: controller-manager
  name: toe-metrics-service
  namespace: kube-system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: controller-manager

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: teknoir
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: deployment
    app.kubernetes.io/part-of: teknoir
    control-plane: controller-manager
  name: toe
  namespace: kube-system
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        teknoir.org/app: toe
        app: toe
        control-plane: controller-manager
    spec:
      priorityClassName: high-priority-toe
      containers:
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        env:
        - name: CLIENT_ID
          value: "{{.DeviceID}}"
        - name: TOE_PROJECT
          value: "teknoir"
        - name: TOE_DOMAIN
          value: "{{.Domain}}"
        - name: TOE_IOT_REGISTRY
          value: "{{.Namespace}}"
        - name: TOE_DEVICE
          value: "{{.DeviceID}}"
        - name: TOE_CA_CERT
          value: "/etc/teknoir/roots.pem"
        - name: TOE_PRIVATE_KEY
          value: "/etc/teknoir/rsa_private.pem"
        volumeMounts:
        - name: toe-volume
          mountPath: /etc/teknoir
        command:
        - /manager
        image: docker.io/tekn0ir/toe:toe_v3
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: toe
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
      serviceAccountName: teknoir-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - name: toe-volume
        hostPath:
          # directory location on host
          path: "/etc/teknoir"
EOL

info "Device bootstrapped successfully!"

info ""
info " _____ _____ _  ___   _  ___ ___ ____ "
info "|_   _| ____| |/ / \ | |/ _ \_ _|  _ \ "
info "  | | |  _| | ' /|  \| | | | | || |_) | "
info "  | | | |___| . \| |\  | |_| | ||  _ <  "
info "  |_| |_____|_|\_\_| \_|\___/___|_| \_\ "
info ""
info "Notice!"
info "No networking or user settings has been changed to match settings in the platform."

_FIRST_USER_NAME="{{.Username}}"
_FIRST_USER_PASS="{{.Password}}"
_FIRST_USER_KEY="{{.PublicSSHKey}}"

warn "To enable tunneling, the user ${_FIRST_USER_NAME} has to be created."

on_sudo() {
  $SUDO sh -- "$@"
}

setup_user() {
  $SUDO mkdir -p "/home/${_FIRST_USER_NAME}"
  if ! id -u "${_FIRST_USER_NAME}" >/dev/null 2>&1; then
    if command -v useradd >/dev/null 2>&1 && command -v groupadd >/dev/null 2>&1; then
      if ! getent group "${_FIRST_USER_NAME}" >/dev/null 2>&1; then
        $SUDO groupadd "${_FIRST_USER_NAME}"
      fi
      $SUDO useradd \
        --gid "${_FIRST_USER_NAME}" \
        --groups users \
        --home-dir "/home/${_FIRST_USER_NAME}" \
        --shell /bin/bash \
        "${_FIRST_USER_NAME}"
    else
      $SUDO adduser --disabled-password --gecos "" "${_FIRST_USER_NAME}"
    fi
  fi

  if command -v chpasswd &> /dev/null; then
    echo "${_FIRST_USER_NAME}:${_FIRST_USER_PASS}" | $SUDO chpasswd
  elif command -v passwd &> /dev/null; then
    echo -e "${_FIRST_USER_PASS}\n${_FIRST_USER_PASS}" | passwd ${_FIRST_USER_NAME}
  elif command -v usermod &> /dev/null && command -v openssl &> /dev/null; then
    usermod --password $(openssl passwd -1 ${_FIRST_USER_PASS}) ${_FIRST_USER_NAME}
  else
      warn "Could not set password for user ${_FIRST_USER_NAME}"
      info "Skipping tunneling setup"
      exit
  fi

  on_sudo << EOF
mkdir -p /home/${_FIRST_USER_NAME}/.ssh
cp ${CONFIG_PATH}/rsa_private.pem /home/${_FIRST_USER_NAME}/.ssh/id_rsa
ssh-keygen -y -f ${CONFIG_PATH}/rsa_private.pem > /home/${_FIRST_USER_NAME}/.ssh/id_rsa.pub
cat /home/${_FIRST_USER_NAME}/.ssh/id_rsa.pub > /home/${_FIRST_USER_NAME}/.ssh/authorized_keys
if [ -z ${_FIRST_USER_KEY+x} ] || [ "${_FIRST_USER_KEY}" = "" ]; then
  echo "[INFO] _FIRST_USER_KEY is not set, will continue with only password auth";
else
  echo "${_FIRST_USER_KEY}" >> /home/${_FIRST_USER_NAME}/.ssh/authorized_keys
fi
chmod 600 /home/${_FIRST_USER_NAME}/.ssh/*
chmod 744 /home/${_FIRST_USER_NAME}/.ssh
chown -R ${_FIRST_USER_NAME}:${_FIRST_USER_NAME} /home/${_FIRST_USER_NAME}

# Add root user to users and sudo groups
if [ -e /etc/group ]; then
    sed -i "/^users:/s/\(.*\)/\1,${_FIRST_USER_NAME}/;s/:,/:/" /etc/group
    sed -i "/^sudo:/s/\(.*\)/\1,${_FIRST_USER_NAME}/;s/:,/:/" /etc/group
fi
EOF
}

setup_user

cd ..
info "Device bootstrapped successfully!"

