{{template "header.sh.tmpl" .}}

# This is the drop in device bootstrap script for the Teknoir platform.
# It should work for most arm32/arm64/amd64 devices running Debian or Ubuntu.

# Usage:
#   TBD
#
# Environment variables:
#   OS_BUILD=true (default: false, for OS builds)
#   INSECURE=true (default: false, for OS builds, or if you want to run without ssl cert verification)
#   INSTALL_WATCHDOG=true (default: false, enable or disable the teknoir watchdog service)
#   USE_DOCKER=true (default: false, enable the use of docker as container runtime for k3sm inly works for k3s < 1.24)
#   CREATE_USER=false (default: ask, create a user for the device without asking)


TMP=$(mktemp -dt)
# --- cleanup/error trap ---
error() {
  local code="$1"
  echo "[ERROR] Error: exiting with status ${code}"
  exit "${code}"
}
cleanup() {
  rm -rf "$TMP"
  [ $? -eq 0 ] && exit
  error "$?"
}
trap 'cleanup' EXIT

cd "$TMP"
info "Teknoir bootstrapping...${TMP}"

{{template "variables.sh.tmpl" .}}

{{template "keys.sh.tmpl" .}}
info "Install Rancher K3s"
mkdir -p /opt/k3s
export K3S_CONFIG_PATH=/etc/rancher/k3s
$SUDO mkdir -p ${K3S_CONFIG_PATH}
$SUDO tee ${K3S_CONFIG_PATH}/config.yaml > /dev/null << EOL
disable:
  - traefik
node-name: ${_DEVICE_ID}
EOL

info "Install Teknoir Manifests"
$SUDO mkdir -p /var/lib/rancher/k3s/server/manifests
$SUDO tee /var/lib/rancher/k3s/server/manifests/teknoir.yaml > /dev/null << EOL
{{template "manifests.yaml.tmpl" .}}
EOL

info "Device bootstrapped successfully!"

{{template "ascii_art.sh.tmpl" .}}
info "Notice!"
info "No networking or user settings has been changed to match settings in the platform."

warn "To enable tunneling, the user ${_FIRST_USER_NAME} has to be created."

{{template "user_setup.sh.tmpl" .}}
setup_user

{{template "footer.sh.tmpl" .}}

