_DOMAIN="{{.Domain}}"
_DEVICE_ID="{{.DeviceID}}"
_NAMESPACE="{{.Namespace}}"
_FIRST_USER_NAME="{{.Username}}"
_FIRST_USER_PASS="{{.Password}}"
_FIRST_USER_KEY="{{.PublicSSHKey}}"
_RSA_PUBLIC="{{.RSAPublic}}"
_RSA_PRIVATE="{{.RSAPrivate}}"
_K3S_TOKEN="{{.K3SToken}}"
